## 사용자 정의함수 불러오기

In [5]:
# 사용자 정의함수 경로 설정
import sys
sys.path.append("G:/내 드라이브/Source/_Custom_Function")
import time
# 사용자 정의함수 불러오기
import ExcelFile_Merge as em
import ExcelFile_Read as er

---
## ExcelFile_Merge

In [29]:
path_dateset = 'G:/내 드라이브/DataSet/'

In [42]:
path_sub = '서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/'

In [44]:
em.Check_Encoding(path_dateset, path_sub)

path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/
file :  tpss_bcycl_od_statnhm_202101.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202102.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202107.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202103.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202111.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202108.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202104.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202106.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202109.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202112.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202105.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_202110.csv, encoding :  EUC-KR
file :  tpss_bcycl_od_statnhm_2021.csv, encoding :  utf-8

In [46]:
em.Check_File(path_dateset, path_sub)

path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202101.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202101.csv, 1593981
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210101, 0, 0, 'ST-2309', '구의1동_026_1', 'ST-1661', '자양4동_005_1', 1, 20, 0.0]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202102.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202102.csv, 2346093
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210201, 0, 0, 'ST-523', '우장산동_045_1', 'ST-1249', '등촌3동_042_1', 1, 14, 2952.97]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202107.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202107.csv, 6540700
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210701, 1, 0, 'ST-690', '상도2동_052_1', 'ST-690', '상도2동_052_1', 1, 0, 0.0]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202103.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202103.csv, 4210028
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210301, 0, 0, 'ST-1199', '성수1가1동_014_3', 'ST-99', '자양3동_050_1', 1, 29, 3124.27]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202111.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202111.csv, 5284594
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20211101, 0, 0, 'ST-341', '연남동_016_1', 'ST-2533', '성산2동_008_1', 1, 6, 605.0]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202108.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202108.csv, 6195583
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210801, 1, 0, 'ST-1347', '안암동_011_1', 'ST-1460', '동선동_020_1', 2, 108, 10625.5]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202104.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202104.csv, 5783480
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210401, 1, 0, 'ST-2015', '신월2동_001_1', 'ST-431', '목4동_048_1', 1, 11, 1398.9]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202106.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202106.csv, 6649437
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210601, 0, 0, 'ST-328', '남영동_006_1', 'ST-699', '노량진2동_015_1', 1, 50, 6408.79]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202109.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202109.csv, 6996169
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210901, 1, 0, 'ST-2085', '중계2·3동_062_1', 'ST-2085', '중계2·3동_062_1', 1, 0, 0.0]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202112.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202112.csv, 3594431
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20211201, 0, 0, 'ST-1977', '문래동_047_1', 'ST-312', '신정4동_049_1', 1, 20, 3692.54]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202105.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202105.csv, 5595561
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210501, 1, 0, 'ST-2574', '풍납2동_049_4', 'ST-1041', '성내1동_033_1', 1, 68, 2561.02]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_202110.csv , encoding :  EUC-KR
==============================================================
.csv, tpss_bcycl_od_statnhm_202110.csv, 6552295
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20211001, 1, 0, 'ST-376', '마장동_032_1', 'ST-376', '마장동_032_1', 1, 2, 280.0]
read_file - file_path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/tpss_bcycl_od_statnhm_2021.csv , encoding :  utf-8
==============================================================
.csv, tpss_bcycl_od_statnhm_2021.csv, 61342341
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
[20210101, 0, 0, 'ST-2309', '구의1동_026_1', 'ST-1661', '자양4동_005_1', 1, 20, 0.0]

In [ ]:
em.Merge_File(path_dateset, path_sub, 'tpss_bcycl_od_statnhm_2023')

---
## ExcelFile_Read

In [3]:
import time

In [7]:
file_path = 'G:/내 드라이브/DataSet/_최종 병합 파일/서울특별시 공공자전거 대여소별 이용정보(시간대별)/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2020.csv'

### Read_Chunk

In [51]:
start_time = time.time()  # 시작 시간 저장
df_rtn = er.Read_Chunk(file_path)
print("time :", time.time() - start_time) # 현재시간 - 시작시간

 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 1000000
 Processed a chunk of size: 26024
time : 30.86585283279419

### Read_pyarrow

In [53]:
start_time = time.time()  # 시작 시간 저장
df_rtn = er.Read_pyarrow(file_path)
print("time :", time.time() - start_time) # 현재시간 - 시작시간

time : 12.08456301689148

### Read_dask

### 1. 방법 1

In [45]:
start_time = time.time()  # 시작 시간 저장
_dtype={'성별': 'object',
       '운동량': 'object',
       '탄소량': 'object'}

df_rtn = er.Read_dask(file_path, _dtype)
print("time :", time.time() - start_time) # 현재시간 - 시작시간

time : 0.012133359909057617

In [47]:
df_rtn.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2020-02-01,0,1442,1442. (구)신한은행 중랑교지점,정기권,NaN,~10대,1,53.86,0.32,1360.0,6
1,2020-02-01,0,1339,1339. 삼성전자서비스 성북센터,정기권,NaN,~10대,1,10.04,0.09,390.0,3
2,2020-02-01,0,1960,1960. 화광신문사 앞,정기권,NaN,~10대,1,75.14,0.64,2750.0,24
3,2020-02-01,0,394,394. 경희궁 자이 3단지,정기권,NaN,~10대,1,28.42,0.18,780.0,3
4,2020-02-01,0,1364,1364. 성북동 치안센터 앞,정기권,NaN,~10대,1,52.97,0.41,1760.0,11

### 2. 방법 2

In [43]:
file_path = 'G:/내 드라이브/DataSet/_최종 병합 파일/서울특별시 공공자전거 대여소별 이용정보(시간대별)/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2021.csv'

In [45]:
er.Read_nrows(file_path, 5)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.90,0.23,992.78,13.0
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.50,10.0
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0.00,0.00,0.00,7.0
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14.0
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5.0

In [77]:
# 아래처럼 바꾸고자 하는 컬럼명을 골라서 바꿀 수 있습니다.
# 컬럼명 바꾸고 excel.to_csv로 저장하시면 됩니다.
import pandas as pd

df_rtn = pd.read_csv('G:/내 드라이브/DataSet/_최종 병합 파일/서울특별시 공공자전거 대여소별 이용정보(시간대별)/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2021.csv', low_memory=False)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.90,0.23,992.78,13.0
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.50,10.0
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0.00,0.00,0.00,7.0
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14.0
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
25421798,2021-12-31,23,4561,4561. 양평역 1번출구,정기권,M,50대,1,22.95,0.19,840.00,4.0
25421799,2021-12-31,23,815,815. LIG강촌아파트 103동앞,정기권,M,50대,1,30.20,0.21,907.98,8.0
25421800,2021-12-31,23,2173,2173. 당곡사거리,정기권,M,60대,1,64.55,0.48,2063.26,13.0
25421801,2021-12-31,23,2718,2718.마곡수명산파크1단지,정기권,M,60대,1,27.84,0.22,950.00,8.0
25421802,2021-12-31,23,4620,4620. 삼각지역 14번 출구 앞(교통섬),정기권,M,70대~,1,29.80,0.23,990.00,8.0

In [87]:
df_rtn = df_rtn.rename(columns={'사용시간': '이용시간(분)', '이동거리': '이동거리(M)'})

In [95]:
df_rtn.columns

Index(['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량',
       '탄소량', '이동거리(M)', '이용시간(분)'],
      dtype='object')

In [113]:
df_rtn.to_csv('G:/내 드라이브/DataSet/_최종 병합 파일/서울특별시 공공자전거 대여소별 이용정보(시간대별)/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2020.csv', index=False, encoding='utf-8')

In [117]:
er.Read_nrows(file_path, 5)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2024-05-01,0,242,242. 신길선원가와인아파트 앞,정기권,NaN,~10대,1,19.94,0.18,774.79,9
1,2024-05-01,0,623,623. 서울시립대 정문 앞 B,정기권,NaN,~10대,1,54.50,0.54,2332.67,24
2,2024-05-01,0,1218,1218. 방이역 4번출구,정기권,NaN,~10대,1,75.16,0.68,2920.00,30
3,2024-05-01,0,731,731. 서울시 도로환경관리센터,정기권,NaN,20대,1,58.50,0.48,2051.92,10
4,2024-05-01,0,744,744. 신목동역 2번 출구,정기권,NaN,20대,1,22.02,0.19,829.93,3

In [97]:
df_rtn.to_csv('G:/내 드라이브/DataSet/_최종 병합 파일/서울특별시 공공자전거 대여소별 이용정보(시간대별)/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2021.csv', index=False, encoding='utf-8')

In [99]:
er.Read_nrows(file_path, 5)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.90,0.23,992.78,13.0
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.50,10.0
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0.00,0.00,0.00,7.0
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14.0
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5.0

In [109]:
file_path = 'G:/내 드라이브/DataSet/_최종 병합 파일/서울특별시 공공자전거 대여소별 이용정보(시간대별)/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2024.csv'

In [111]:
er.Read_nrows(file_path, 5)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2024-05-01,0,242,242. 신길선원가와인아파트 앞,정기권,NaN,~10대,1,19.94,0.18,774.79,9
1,2024-05-01,0,623,623. 서울시립대 정문 앞 B,정기권,NaN,~10대,1,54.50,0.54,2332.67,24
2,2024-05-01,0,1218,1218. 방이역 4번출구,정기권,NaN,~10대,1,75.16,0.68,2920.00,30
3,2024-05-01,0,731,731. 서울시 도로환경관리센터,정기권,NaN,20대,1,58.50,0.48,2051.92,10
4,2024-05-01,0,744,744. 신목동역 2번 출구,정기권,NaN,20대,1,22.02,0.19,829.93,3