In [1]:
import pandas as pd
import sys
sys.path.append('G:/내 드라이브/Source/_Custom_Function')
import time
import ExcelFile_Read as er

In [3]:
path_dateset = 'G:/내 드라이브/DataSet/'
path_sub = '_최종 병합 파일/서울 생활이동/2020/생활이동_행정동_2020.01.csv'

file_path = path_dateset + path_sub

In [5]:
start_time = time.time()  # 시작 시간 저장

_dtype={'성별': 'object',
       '운동량': 'object',
       '탄소량': 'object'}
df_rtn = er.Read_dask(file_path, _dtype)


df_rtn = er.Read_dask(file_path, _dtype)
print("time :", time.time() - start_time) # 현재시간 - 시작시간

time : 2.3059866428375244

In [7]:
df_rtn.head()

     대상연월 요일  도착시간  출발 행정동 코드  도착 행정동 코드 성별  나이 이동유형  평균 이동 시간(분) 이동인구(합)
0  202001  일     4    1101053    1101053  F  10   EH           20    5.93
1  202001  일     4    1101053    1101053  F  20   WW           10       *
2  202001  일     4    1101053    1101053  F  20   EE           10       *
3  202001  일     4    1101053    1101053  F  40   EW           10    3.44
4  202001  일     4    1101053    1101053  F  50   HE           20     3.1

In [13]:
df_rtn = df_rtn.compute()

In [15]:
df_rtn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130620476 entries, 0 to 1406044
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   대상연월         int64
 1   요일           object
 2   도착시간         int64
 3   출발 행정동 코드    int64
 4   도착 행정동 코드    int64
 5   성별           object
 6   나이           int64
 7   이동유형         object
 8   평균 이동 시간(분)  int64
 9   이동인구(합)      object
dtypes: int64(6), object(4)
memory usage: 10.7+ GB

In [11]:
df_rtn.isnull().sum()

Dask Series Structure:
npartitions=1
나이             int64
평균 이동 시간(분)      ...
Dask Name: sum, 4 expressions
Expr=(~ NotNull(frame=ReadCSV(ea42e7b))).sum()