### 라이브러리 임포트

In [ ]:
import os
import pandas as pd

### 기본경로 설정

In [ ]:
path_dateset = 'G:/내 드라이브/DataSet/'

### 확장자 가져오기 (Ex) .csv, .xlsx

In [ ]:
def extract_extension(file_path):
    _, file_extension = os.path.splitext(file_path)
    return file_extension

### 경로로 파일 잘 가져와 지는지 확인하기

In [ ]:
extract_extension('G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/서울특별시 공공자전거 이용정보(일별)_2406.csv')

### 파일명 가져오기

In [ ]:
def extract_filename(file_path):
    file_name = os.path.basename(file_path)
    filename_without_extension, _ = os.path.splitext(file_name)
    return filename_without_extension

In [ ]:
extract_filename('G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/서울특별시 공공자전거 이용정보(일별)_2406.csv')

### 파일 읽기

In [ ]:
def read_file(file_path):
    extension = extract_extension(file_path)
    if ".xlsx" == extension:
        return pd.read_excel(file_path)
    if ".csv" == extension:
        return pd.read_csv(file_path, encoding='cp949')

### 특정 폴더의 csx, xlsx 파일들 확인

In [ ]:
def check_file(path_dateset, path_sub):
    path = path_dateset + path_sub
    
    #파일 경로명 변경
    file_list = os.listdir(path)
    file_lists = [file for file in file_list if file.endswith((".csv", ".xlsx"))]
    excel = pd.DataFrame()
    
    print('path : ', path)
    
    for _, file in enumerate(file_lists):
        df = read_file(path + file)
    
        print('==============================================================')
        print(extract_extension(file) + ', ' + file + ', ' + str(len(df)))
        print(list(df.columns))
        print(list(df.iloc[1]))

### 특정 폴더의 csx, xlsx 파일들 합치기

In [ ]:
def merge_file(path_dateset, path_sub, new_filename, columns):
    path = path_dateset + path_sub
    
    #파일 경로명 변경
    file_list = os.listdir(path)
    file_lists = [file for file in file_list if file.endswith((".csv", ".xlsx"))]
    excel = pd.DataFrame()
    
    print('path : ', path)
    
    for i, file in enumerate(file_lists):
        df = read_file(path + file)
        
        if (i > 0):
            df = df.iloc[1:][columns]
        else:
            df = df[columns]

        # excel = excel.append(df , ignore_index=True) #파일 하나에 다른 파일 추가하기(파일 합치기)
        excel = pd.concat([excel, df], ignore_index=True)        
        
        print('==============================================================')
        print(extract_extension(file) + ', ' + file + ', ' + str(len(df)))
        print(list(df.columns))

    # excel.to_csv(path+'merge.csv',index=False,encoding='euc-kr')
    excel.to_csv(path + new_filename + '.csv', index=False, encoding='cp949')

### 서울특별시 공공자전거 이용정보(일별)

In [ ]:
path_sub = '서울특별시 공공자전거 이용정보(일별)/'
check_file(path_dateset, path_sub)

In [ ]:
merge_file(path_dateset, path_sub)

### 서울시 따릉이 대여소별 대여 반납 승객수 정보

In [202]:
path_sub = '서울시 따릉이 대여소별 대여 반납 승객수 정보/tpss_bcycl_od_statnhm_202301/'
check_file(path_dateset, path_sub)

path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/tpss_bcycl_od_statnhm_202301/
==============================================================
.csv, tpss_bcycl_od_statnhm_20230108.csv, 86946
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230108, 0, 'ST-1730', 'ST-1730', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230107.csv, 83596
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230107, 0, 'ST-224', 'ST-224', 1, 1, 90]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230106.csv, 126153
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230106, 0, 'ST-286', 'ST-286', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230105.csv, 137121
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230105, 0, 'ST-278', 'ST-278', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230101.csv, 72922
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230101, 0, 'ST-2127', 'ST-2127', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230104.csv, 135136
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230104, 0, 'ST-563', 'ST-563', 1, 0, 60]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230103.csv, 122858
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230103, 0, 'ST-2538', 'ST-2538', 2, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230102.csv, 113500
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230102, 0, 'ST-3108', 'ST-3108', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230113.csv, 42178
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230113, 5, 'ST-1260', 'ST-1260', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230112.csv, 173342
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230112, 0, 'ST-3148', 'ST-3148', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230111.csv, 162456
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230111, 0, 'ST-1822', 'ST-1822', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230110.csv, 159983
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230110, 0, 'ST-2321', 'ST-2321', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230109.csv, 147642
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230109, 0, 'ST-432', 'ST-432', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230119.csv, 137519
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230119, 0, 'ST-1291', 'ST-1291', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230118.csv, 143557
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230118, 0, 'ST-1486', 'ST-1486', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230117.csv, 136758
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230117, 0, 'ST-1270', 'ST-1270', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230116.csv, 132165
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230116, 0, 'ST-157', 'ST-157', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230114.csv, 51941
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230114, 0, 'ST-1339', 'ST-1339', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230115.csv, 46140
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230115, 0, 'ST-1714', 'ST-1714', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230125.csv, 78129
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230125, 0, 'ST-2168', 'ST-2168', 1, 1, 88]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230124.csv, 31080
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230124, 0, 'ST-2995', 'ST-2995', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230123.csv, 60097
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230123, 0, 'ST-679', 'ST-679', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230122.csv, 44177
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230122, 5, 'ST-1062', 'ST-1062', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230120.csv, 104606
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230120, 0, 'ST-2003', 'ST-2003', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230121.csv, 59800
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230121, 0, 'ST-1674', 'ST-1674', 1, 1, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230131.csv, 148634
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230131, 0, 'ST-2807', 'ST-2807', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230130.csv, 131314
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230130, 0, 'ST-422', 'ST-422', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230129.csv, 75165
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230129, 0, 'ST-2797', 'ST-2797', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230128.csv, 71780
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230128, 0, 'ST-157', 'ST-157', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230126.csv, 49299
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230126, 0, 'ST-1505', 'ST-1505', 1, 0, 0]
==============================================================
.csv, tpss_bcycl_od_statnhm_20230127.csv, 81552
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
[20230127, 0, 'ST-1695', 'ST-1695', 1, 0, 0]

In [203]:
rf = read_file('G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/merge.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_18008\1205792265.py:6: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path, encoding='cp949')

In [204]:
rf.tail(5)

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
33824102,2024-05-31,3505,3505. 신양초교앞 교차로,정기권,M,기타,1,368.68,2.84,12250.00,60
33824103,2024-05-31,502,502. 자양(뚝섬한강공원)역 1번출구 앞,정기권,M,기타,1,24.69,0.19,809.73,4
33824104,2024-05-31,502,502. 자양(뚝섬한강공원)역 1번출구 앞,정기권,M,기타,1,26.26,0.23,975.08,4
33824105,2024-05-31,724,724. 계남공원 입구 주출입구 좌측,정기권,M,기타,1,33.36,0.3,1296.03,8
33824106,2024-05-31,726,726. 목동3단지 시내버스정류장,정기권,M,기타,3,101.8,0.91,3908.91,22

In [ ]:
len(rf)