In [1]:
import time
import pandas as  pd

start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_파킷 파일\\서울특별시 공공자전거 대여이력 정보\\'
filename = '서울특별시 공공자전거 대여이력 정보_2020'
df_2020 = pd.read_parquet(filepath + filename + '.parquet')
print("read_parquet time :", time.time() - start_time)

read_parquet time : 51.36266374588013

In [3]:
# 사용자 정의함수 경로 설정
import sys
sys.path.append("G:/내 드라이브/Source/_Custom_Function")
# 사용자 정의함수 불러오기
import ExcelFile_Merge as em
import ExcelFile_Read as er

In [5]:
import ExcelFile_EDA as ee
ee.ss_isnull(df_2020)

      [컬럼명]     [sum]  [sum_isnull]  [mean_isnull(%)]
0     자전거번호  23287911             0          0.000000
1   대여대여소번호  23287911             0          0.000000
2    대여대여소명  23287911             0          0.000000
3     대여거치대  23287911             0          0.000000
4   반납대여소번호  23287911             0          0.000000
5    반납대여소명  23287911             0          0.000000
6     반납거치대  23287911             0          0.000000
7   이용시간(분)  23287911             0          0.000000
8   이용거리(M)  23287808           103          0.000442
9      대여일자  23287911             0          0.000000
10     대여시간  23287911             0          0.000000
11     반납일자  23287911             0          0.000000
12     반납시간  23287911             0          0.000000

In [9]:
df_2020

,자전거번호,대여대여소번호,대여대여소명,대여거치대,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M),대여일자,대여시간,반납일자,반납시간
0,SPB-04061,00429,송도병원,2,00372,약수역 3번출구 뒤,8,2.0,0.0,2020-01-01,00:01:04,2020-01-01,00:04:21
1,SPB-06686,01637,KT 노원점 건물 앞,14,01656,중앙하이츠 아파트 입구,9,1.0,350.0,2020-01-01,00:02:53,2020-01-01,00:04:48
2,SPB-15937,01924,삼부르네상스파크빌,10,01955,디지털입구 교차로,7,4.0,800.0,2020-01-01,00:01:21,2020-01-01,00:05:51
3,SPB-14805,00437,대흥역 1번출구,1,00126,서강대 후문 옆,18,2.0,0.0,2020-01-01,00:03:12,2020-01-01,00:05:54
4,SPB-09038,01168,마곡엠밸리10단지 앞,5,01152,마곡역교차로,2,4.0,660.0,2020-01-01,00:01:11,2020-01-01,00:05:57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23287906,SPB-21898,01149,신방화역환승주차장,7,01165,마곡중학교 후문,19,94.0,7730.0,2020-05-31,03:15:54,2020-06-01,07:05:54
23287907,SPB-34153,01222,잠실새내역 5번 출구 뒤,0,01221,삼전사거리 포스코더샵,0,606.0,0.0,2020-05-31,22:16:56,2020-06-01,08:22:42
23287908,SPB-30675,01257,가락시장역 롯데마트앞,0,01271,송파도서관,0,587.0,0.0,2020-05-31,22:42:24,2020-06-01,08:29:09
23287909,SPB-35362,00913,이마트 은평점,0,00131,증산2교,0,610.0,0.0,2020-05-31,22:25:29,2020-06-01,08:35:06
23287910,SPB-33088,01359,장위뉴타운 꿈에 숲 코오롱 하늘채 앞,0,01373,성북구보건소 건너편,0,634.0,0.0,2020-05-31,23:00:13,2020-06-01,09:33:49

In [11]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23287911 entries, 0 to 23287910
Data columns (total 13 columns):
 #   Column   Dtype
---  ------   -----
 0   자전거번호    object
 1   대여대여소번호  object
 2   대여대여소명   object
 3   대여거치대    object
 4   반납대여소번호  object
 5   반납대여소명   object
 6   반납거치대    int64
 7   이용시간(분)  float64
 8   이용거리(M)  float64
 9   대여일자     object
 10  대여시간     object
 11  반납일자     object
 12  반납시간     object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.3+ GB

In [29]:
df_2020['자전거번호'].unique

<bound method Series.unique of 0           SPB-04061
1           SPB-06686
2           SPB-15937
3           SPB-14805
4           SPB-09038
              ...
23287906    SPB-21898
23287907    SPB-34153
23287908    SPB-30675
23287909    SPB-35362
23287910    SPB-33088
Name: 자전거번호, Length: 23287911, dtype: object>

In [33]:
df_2020['자전거번호'].min()

'SPB-00003'

In [35]:
df_2020['자전거번호'].max()

'SPB-90005'