## 서울특별시 공공자전거 대여소별 이용정보(시간대별) 파일 불러오기

In [56]:
import pandas as pd
# 사용자 정의함수 경로 설정
import sys
sys.path.append("G:/내 드라이브/Source/_Custom_Function")
# 사용자 정의함수 불러오기

import time

import ExcelFile_Read as er

## 1. 2021년

In [58]:
path_dateset = 'G:/내 드라이브/DataSet/'
path_sub = '_최종 병합 파일/서울특별시 공공자전거 대여소별 이용정보(시간대별)/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2021.csv'

file_path = path_dateset + path_sub

In [60]:
start_time = time.time()  # 시작 시간 저장

_dtype={'이용건수': 'object',
       '운동량': 'object',
       '탄소량': 'object',
       '성별': 'object'}
df_rtn = er.Read_dask(file_path, _dtype)


df_rtn = er.Read_dask(file_path, _dtype)
print("time :", time.time() - start_time) # 현재시간 - 시작시간

time : 0.04325580596923828

In [62]:
df_rtn.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.90,0.23,992.78,13.0
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.5,10.0
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0.00,0.00,0.0,7.0
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14.0
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5.0

In [64]:
df_rtn = df_rtn.compute()

In [66]:
df_rtn = df_rtn[['대여일자', '대여시간', '대여소번호', '대여소명', '이용건수', '이동거리(M)', '이용시간(분)']]

In [68]:
df_rtn.head()

         대여일자  대여시간  대여소번호                     대여소명 이용건수  이동거리(M)  이용시간(분)
0  2021-01-01     0   1347  1347. 길음래미안아파트817동 상가 앞    2   992.78     13.0
1  2021-01-01     0   1349       1349. 월계2교 버스정류장 앞    1   1127.5     10.0
2  2021-01-01     0   1168        1168. 마곡엠밸리10단지 앞    1      0.0      7.0
3  2021-01-01     0   2619         2619. 석촌고분역 4번출구    1  1658.34     14.0
4  2021-01-01     0    536          536. 행당역 2번출구 앞    1   743.88      5.0

## 필요한 컬럼만 저장하기

In [70]:
path_dateset = 'G:/내 드라이브/DataSet/'
path_sub = '_최종 병합 파일/서울특별시 공공자전거 대여소별 이용정보(시간대별)/'

file_path = path_dateset + path_sub

df_rtn.to_parquet(file_path + '시간대별_2021.parquet', index=False)

## 1) 데이터 구조파악

In [72]:
df_rtn.head()

         대여일자  대여시간  대여소번호                     대여소명 이용건수  이동거리(M)  이용시간(분)
0  2021-01-01     0   1347  1347. 길음래미안아파트817동 상가 앞    2   992.78     13.0
1  2021-01-01     0   1349       1349. 월계2교 버스정류장 앞    1   1127.5     10.0
2  2021-01-01     0   1168        1168. 마곡엠밸리10단지 앞    1      0.0      7.0
3  2021-01-01     0   2619         2619. 석촌고분역 4번출구    1  1658.34     14.0
4  2021-01-01     0    536          536. 행당역 2번출구 앞    1   743.88      5.0

In [74]:
df_rtn.shape

(25421803, 7)

In [76]:
df_rtn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25421803 entries, 0 to 694627
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   이용건수     object
 5   이동거리(M)  float64
 6   이용시간(분)  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.5+ GB

In [78]:
df_rtn.count() # 이동거리(M), 이용시간(분) : NULL값 존재한다.

대여일자       25421803
대여시간       25421803
대여소번호      25421803
대여소명       25421803
이용건수       25421803
이동거리(M)    25421789
이용시간(분)    25421727
dtype: int64

In [80]:
pd.options.display.float_format = '{:3}'.format

In [84]:
round(df_rtn.describe(), 1)

            대여시간      대여소번호    이동거리(M)    이용시간(분)
count 25421803.0 25421803.0 25421789.0 25421727.0
mean        14.5     1714.8     3094.5       28.4
std          5.5     1266.4     4375.3       33.5
min          0.0        3.0        0.0        0.0
25%         10.0      677.0      770.9        8.0
50%         16.0     1384.0     1679.0       16.0
75%         19.0     2431.0     3672.4       37.0
max         23.0    99999.0  4731983.6     2701.0

In [86]:
df_rtn.isnull().sum()

대여일자        0
대여시간        0
대여소번호       0
대여소명        0
이용건수        0
이동거리(M)    14
이용시간(분)    76
dtype: int64

## 2) 필요한 컬럼 확인하기

### - '이용건수'

In [88]:
df_rtn['이용건수'].value_counts() # 이용건수 -> object => int로 수정하기

이용건수
1         20614051
1.0        2287666
2          1884267
3           302055
2.0         186032
            ...
48.31            1
31.63            1
13.24            1
168.37           1
29               1
Name: count, Length: 120, dtype: int64

In [90]:
df_rtn[df_rtn['이용건수'] == '48.31']

              대여일자  대여시간  대여소번호            대여소명   이용건수  이동거리(M)  이용시간(분)
662346  2021-03-06    13   1628  1628. 노일초등학교 앞  48.31     13.0      NaN

In [92]:
df_rtn[df_rtn['이용건수'] == '\\N']

             대여일자  대여시간  대여소번호                대여소명 이용건수  이동거리(M)  이용시간(분)
89690  2021-02-02    18    314  314. ?뭏냘測鍮抉解?,정기권"   \N     53.0      NaN

### 위의 이용건수가 null값인 행 삭제하기

In [115]:
df = df_rtn.drop(df_rtn[df_rtn['이용건수'] != '\\N'].index, axis=0)

In [117]:
df = df_rtn.drop(89690, axis=0)

In [121]:
df.count()

대여일자       25421766
대여시간       25421766
대여소번호      25421766
대여소명       25421766
이용건수       25421766
이동거리(M)    25421752
이용시간(분)    25421691
dtype: int64

In [125]:
df = df_rtn.drop(df_rtn.index[89690], axis=0)

In [129]:
df.count()

대여일자       25421766
대여시간       25421766
대여소번호      25421766
대여소명       25421766
이용건수       25421766
이동거리(M)    25421752
이용시간(분)    25421691
dtype: int64

In [109]:
df_rtn[df_rtn['이용건수'] == '\\N'].index

Index([89690], dtype='int64')

In [102]:
df.count()  # (25421803, 7) # 37개 사라짐 => 여기서부터 다시 하기

대여일자       25421766
대여시간       25421766
대여소번호      25421766
대여소명       25421766
이용건수       25421766
이동거리(M)    25421752
이용시간(분)    25421691
dtype: int64

In [157]:
import time
import pandas as  pd
start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울특별시 공공자전거 대여소별 이용정보(시간대별)\\'
filename = '시간대별_2021'
df_parquet = pd.read_parquet(filepath + filename + '.parquet')
print("read_parquet time :", time.time() - start_time)

read_parquet time : 4.463822841644287

In [159]:
df_parquet.head()

         대여일자  대여시간  대여소번호                     대여소명 이용건수  이동거리(M)  이용시간(분)
0  2021-01-01     0   1347  1347. 길음래미안아파트817동 상가 앞    2   992.78     13.0
1  2021-01-01     0   1349       1349. 월계2교 버스정류장 앞    1   1127.5     10.0
2  2021-01-01     0   1168        1168. 마곡엠밸리10단지 앞    1      0.0      7.0
3  2021-01-01     0   2619         2619. 석촌고분역 4번출구    1  1658.34     14.0
4  2021-01-01     0    536          536. 행당역 2번출구 앞    1   743.88      5.0

In [161]:
df_parquet.shape

(25421803, 7)

In [163]:
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25421803 entries, 0 to 25421802
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   이용건수     object
 5   이동거리(M)  float64
 6   이용시간(분)  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.3+ GB

In [165]:
df_parquet.count()

대여일자       25421803
대여시간       25421803
대여소번호      25421803
대여소명       25421803
이용건수       25421803
이동거리(M)    25421789
이용시간(분)    25421727
dtype: int64

In [171]:
df_parquet[df_parquet['이용건수'] == '\\N']

              대여일자  대여시간  대여소번호                대여소명 이용건수  이동거리(M)  이용시간(분)
777566  2021-02-02    18    314  314. ?뭏냘測鍮抉解?,정기권"   \N     53.0      NaN

In [173]:
df_r = df_rtn.drop(df_rtn.index[777566])

In [175]:
df_r.count()

대여일자       25421766
대여시간       25421766
대여소번호      25421766
대여소명       25421766
이용건수       25421766
이동거리(M)    25421752
이용시간(분)    25421691
dtype: int64

### - '대여일자'

In [157]:
df_rtn['대여일자'].value_counts()

대여일자
2021-09-02    208866
2021-04-28    182940
2021-04-27    137469
2021-09-24    115696
2021-09-17    114034
               ...
2021-01-08      7679
2021-03-04      6599
2021-01-07      5350
2021-03-01      2750
2021-05-16      2213
Name: count, Length: 363, dtype: int64

In [163]:
df_rtn['대여일자'].isnull().sum()

0

In [165]:
df_rtn[df_rtn['대여일자'] == '\\N']

Empty DataFrame
Columns: [대여일자, 대여시간, 대여소번호, 대여소명, 이용건수, 이동거리(M), 이용시간(분)]
Index: []

### - '대여시간'

In [170]:
df_rtn['대여시간'].value_counts()

대여시간
18    2434772
17    2039201
19    1797236
16    1636617
20    1548670
8     1546834
21    1456272
15    1417784
14    1293878
13    1230385
22    1225880
12    1198500
11    1071671
9     1034644
7      995475
10     904880
23     681797
0      489232
6      428093
1      321508
2      208968
5      197328
3      142570
4      119571
Name: count, dtype: int64

In [174]:
df_rtn['대여시간'].isnull().sum()

0

In [176]:
df_rtn[df_rtn['대여시간'] == '\\N']

Empty DataFrame
Columns: [대여일자, 대여시간, 대여소번호, 대여소명, 이용건수, 이동거리(M), 이용시간(분)]
Index: []

### - 대여소 번호

In [180]:
df_rtn['대여소번호'].value_counts()

대여소번호
502      68279
207      65058
2102     56856
2715     56771
1210     52112
         ...
1114         2
1476         2
2918         1
9990         1
90002        1
Name: count, Length: 2653, dtype: int64

In [184]:
df_rtn['대여소번호'].isnull().sum()

0

In [186]:
df_rtn[df_rtn['대여소번호'] == '\\N']

Empty DataFrame
Columns: [대여일자, 대여시간, 대여소번호, 대여소명, 이용건수, 이동거리(M), 이용시간(분)]
Index: []

### - '대여소명'

In [189]:
df_rtn['대여소명'].value_counts()

대여소명
502. 뚝섬유원지역 1번출구 앞               68278
207. 여의나루역 1번출구 앞                65057
2102. 봉림교 교통섬                    56856
2715.마곡나루역 2번 출구                 56771
1210. 롯데월드타워(잠실역2번출구 쪽)          52111
                                 ...
1004. 삼성광나루아파트 ?治봐ㅇ昰?,일일권"           1
1452. 겸재??진입부                        1
2000. 신?돋?차 e편한세상 아파트 1109동 앞        1
1847. 독산주공 14단지 버스정?何?,정기권"          1
509. 이마트 버스정류소 ??,일일권"               1
Name: count, Length: 2764, dtype: int64

In [191]:
df_rtn['대여소번호'].isnull().sum()

0

In [193]:
df_rtn[df_rtn['대여소번호'] == '\\N']

Empty DataFrame
Columns: [대여일자, 대여시간, 대여소번호, 대여소명, 이용건수, 이동거리(M), 이용시간(분)]
Index: []

### 2) 이용건수 sum으로 사용 : '이용건수' -> int로 dtype 변경

In [2]:
df_rtn['이용건수'].apply(lambda x: float(x) if'.'in str(x) else x)

NameError: name 'df_rtn' is not defined

In [202]:
df_rtn['이용건수'].value_counts()

KeyError: '이용건수'